<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.samuelraub.prettyjson</string>
	<key>connections</key>
	<dict>
		<key>544C5B0D-346D-42DD-8F25-5CEDE940EEEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB920C6A-CB22-49A4-8E9B-1E22D6EDB82F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5C311946-62E7-4609-BE2A-3BDC6F65B53C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15F576E3-A5C4-49A0-B28B-7466228BF4FF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>192BF098-DFD5-47D6-A825-F70AA1F3F94B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90561E3E-8F43-4D00-9A9E-E1963DD9F975</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E2FB8500-8EEF-466F-A6C5-8B3E3AF8BD55</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2B4DD86A-5E79-4F47-99FF-CE7BC194DEF9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>966B6270-7D05-425C-83B1-09E0E2B927C8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB920C6A-CB22-49A4-8E9B-1E22D6EDB82F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>978F88DC-6C6D-4CAD-B85A-7BA05237AB59</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F6483824-C503-4FEF-985D-5CAE58F431FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AB920C6A-CB22-49A4-8E9B-1E22D6EDB82F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>978F88DC-6C6D-4CAD-B85A-7BA05237AB59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BD4CD284-C9B9-4A4F-9430-0F4CD5E4A071</key>
		<array/>
		<key>F6483824-C503-4FEF-985D-5CAE58F431FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C311946-62E7-4609-BE2A-3BDC6F65B53C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1ED31687-77FD-4051-8A02-82B9A301AED0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>90561E3E-8F43-4D00-9A9E-E1963DD9F975</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1ED31687-77FD-4051-8A02-82B9A301AED0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BD4CD284-C9B9-4A4F-9430-0F4CD5E4A071</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Samuel Raub</string>
	<key>description</key>
	<string>Make JSON more readable</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Pretty JSON</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{var:input}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>15F576E3-A5C4-49A0-B28B-7466228BF4FF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:copy_invalid}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>copy_invalid</string>
						<key>uid</key>
						<string>192BF098-DFD5-47D6-A825-F70AA1F3F94B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>dont_copy</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5C311946-62E7-4609-BE2A-3BDC6F65B53C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Error: Invalid JSON</string>
				<key>title</key>
				<string>Pretty JSON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E2FB8500-8EEF-466F-A6C5-8B3E3AF8BD55</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:show_notification}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>show_notification</string>
						<key>uid</key>
						<string>2B4DD86A-5E79-4F47-99FF-CE7BC194DEF9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>dont_show</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>90561E3E-8F43-4D00-9A9E-E1963DD9F975</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Prettify the last clipboard item</string>
				<key>text</key>
				<string>Prettify JSON</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>544C5B0D-346D-42DD-8F25-5CEDE940EEEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query = ARGV[0]

require 'json'

indent_depth = query.to_i &gt; 0 ? query.to_i : ENV["indent_depth"].to_i

json_string = query.start_with?("{", "[") ? query : ENV["clip"]

begin
	parsed = JSON.parse json_string
rescue JSON::ParserError
	parsed = nil
end

indent_string = ""

indent_depth.times do
	indent_string += " "
end

if parsed
	print JSON.pretty_generate parsed, indent: indent_string
else
	output = { alfredworkflow: { arg: "", variables: { input: json_string } } }
	print JSON.generate output
end</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>/Users/samuelraub/dev/pretty-json-alfred-workflow/script.rb</string>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>978F88DC-6C6D-4CAD-B85A-7BA05237AB59</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>1ED31687-77FD-4051-8A02-82B9A301AED0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>success</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F6483824-C503-4FEF-985D-5CAE58F431FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>clip</key>
					<string>{clipboard:0}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AB920C6A-CB22-49A4-8E9B-1E22D6EDB82F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BD4CD284-C9B9-4A4F-9430-0F4CD5E4A071</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<true/>
				<key>acceptsurls</key>
				<false/>
				<key>name</key>
				<string>Prettify JSON</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>966B6270-7D05-425C-83B1-09E0E2B927C8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow formats JSON.

# Getting Started
Pretty JSON takes a JSON string from your clipboard, formats it and copies it back to your clipboard. Just copy some JSON and run it by typing `pj` in Alfred.
![basic usage](images/screen_1.png)

## Advanced
- You can give `pj` a number as an argument to override the default indent depth
![specifying indent depth](images/screen_3.png)
- You can run pj as a text action
![run as text action](images/screen_2.png)

## Configuration
- You can set the desired indent depth in the workflow settings. Default is 2 spaces.
- You can choose to receive a Notification if the input JSON is invalid
- You can choose to anyway copy if the input JSON is invalid (only applies when ran as text action)</string>
	<key>uidata</key>
	<dict>
		<key>15F576E3-A5C4-49A0-B28B-7466228BF4FF</key>
		<dict>
			<key>xpos</key>
			<real>1125</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>544C5B0D-346D-42DD-8F25-5CEDE940EEEA</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>5C311946-62E7-4609-BE2A-3BDC6F65B53C</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>90561E3E-8F43-4D00-9A9E-E1963DD9F975</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>966B6270-7D05-425C-83B1-09E0E2B927C8</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>978F88DC-6C6D-4CAD-B85A-7BA05237AB59</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>AB920C6A-CB22-49A4-8E9B-1E22D6EDB82F</key>
		<dict>
			<key>note</key>
			<string>clipboard to vars</string>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>BD4CD284-C9B9-4A4F-9430-0F4CD5E4A071</key>
		<dict>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>E2FB8500-8EEF-466F-A6C5-8B3E3AF8BD55</key>
		<dict>
			<key>xpos</key>
			<real>1130</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>F6483824-C503-4FEF-985D-5CAE58F431FD</key>
		<dict>
			<key>xpos</key>
			<real>765</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>2</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>In spaces.</string>
			<key>label</key>
			<string>Default Indent Depth</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>indent_depth</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>pj</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>To trigger this workflow.</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Show error when JSON is invalid</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Error Notification</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>show_notification</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Copy input if JSON is invalid</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Always Copy</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>copy_invalid</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/samuelraub/pretty-json-alfred-workflow</string>
</dict>
</plist>
